<div id="main" style="background-color: grey;">
	<div class="row">
	<h2>Manage <b>Users</b> <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="mymodal">Add New User</button></h2>

	<table class="tablei table-hover table-dark">
	<tr>
		<th>ID</th>
		<th>nAME</th>
		<th>Email</th>
		<th>Phone</th>
		<th>Action</th>
	</tr>

	<tr>
		<td>01</td>
		<td>Den</td>
		<td>den@gmail.com</td>
		<td>1234567</td>
		<td>
			<a href="" class="btn btn-warning btn-xs">Edit</a>
			<a href="" class="btn btn-danger btn-xs" onclick="return confirm('Are you shure to delete?')">Delete</a>
		</td>
	</tr>


	</table>

	</div>
</div>

