<div id="sidebar" style="background-color: grey;">
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">
	<span class="icon">
	<ion-icon name="home-outline"></ion-icon></span>
	<span >Home</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">
	<span class="icon">
	<ion-icon name="aperture-outline"></ion-icon></span>
	<span >Table</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">
	<span class="icon">
	<ion-icon name="chatbubble-ellipses-outline"></ion-icon></span>
	<span >Chat</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">
	<span class="icon">
	<ion-icon name="settings-outline"></ion-icon></span>
	<span >Settings</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/logout">
	<span class="icon">
	<ion-icon name="log-out-outline"></ion-icon></span>
	<span >LogOut</span></a>
  </li>
</ul>
</div>
